/***********************************Tag Selector***********************************/
h1 {
    color :red;
    font-size: 200px;
}
img:hover {

    background-color: gold;
}

/*************************************Class Selector*********************************/

.bacon {

    background-color: green;
}
.broccoli {

    background-color: hotpink;
}
.circular{
    border-radius: 100%;
}
/*************************************Class Selector*********************************/
#Heading {
    color: brown;
}
#big{

    font-size: 1000px;
}